<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <div class="login-wrapper">
        <div class="login-screen">
            <div class="login-body pb-4">
                <a href="/" class="login-logo">
                    <img src="img/logo.svg" alt="Quick Chat">
                </a>
                <h6>In order to access your account, please enter the email id you provided during the registration
                    process.</h6>
                <input type="hidden" name="token" value="<%= token %>">
                <div class="field-wrapper mb-3">
                    <input type="password" name="member_password" id="member_password" autofocus>
                    <div class="field-placeholder">New Password</div>
                </div>
                <div class="field-wrapper mb-3">
                    <input type="password" name="confirm_password" id="confirm_password" autofocus>
                    <div class="field-placeholder">Confirm New Password</div>
                </div>
                <p id="message" style="color: red;"></p>
                <div class="actions">
                    <a href="/">돌아가기</a>
                    <button id="submit" type="submit" class="btn btn-primary ml-auto">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // when the page is loaded
    $(document).ready(function () {
        // focus on the first input
        $("#member_password").focus();
        console.log('<%= token %>');

        var result = "<%=resultMsg%>";
        if (result != "") {
            document.getElementById('message').innerText = result;
        }
    });

    $("#submit").click(function () {
        if ($("#member_password").val() == "") {
            $("#message").text("비밀번호를 입력해주세요.");
            return false;
        }

        if ($("#member_password").val().length < 4) {
            $("#message").text("비밀번호는 4자리 이상이어야 합니다.");
            $("#member_password").val("");
            $("#confirm_password").val("");
            return false;
        }

        if ($("#member_password").val() != $("#confirm_password").val()) {
            $("#message").text("비밀번호 확인이 일치하지 않습니다.");
            $("#confirm_password").val("");
            return false;
        } else {
            var token = "<%= token %>";

            $.ajax({
                url: "/password-init",
                type: "POST",
                headers: {
                    Authorization: `Bearer ${token}`
                },
                dataType: "json",
                data: {
                    member_password: $("#member_password").val(),
                },
                success: function (data) {
                    if (data.code == 200) {
                        alert(data.msg);
                        location.href = "/login.html";
                    } else {
                        $("#message").text(data.msg);
                        $("#member_password").val("");
                        $("#confirm_password").val("");
                        return false;
                    }
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            })
        }
    });
</script>