<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <div class="login-wrapper">
        <form action="/reset_password" method="post" id="resetForm">
            <div class="login-screen">
                <div class="login-body pb-4">
                    <a href="/" class="login-logo">
                        <img src="img/logo.svg" alt="Quick Chat">
                    </a>
                    <h6>In order to access your account, please enter the email id you provided during the registration process.</h6>
                    <div class="field-wrapper mb-3">
                        <input type="password" name="member_password" id="member_password" autofocus>
                        <div class="field-placeholder">New Password</div>
                    </div>
                    <div class="field-wrapper mb-3">
                        <input type="password" name="confirm_password" id="confirm_password" autofocus>
                        <div class="field-placeholder">Confirm New Password</div>
                    </div>
                    <input type="hidden" name="email" value="<%= email %>">
                    <p id="message" style="color: red;"></p>
                    <div class="actions">
                        <a href="/">돌아가기</a>
                        <button type="submit" class="btn btn-primary ml-auto">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $("#resetForm").submit(function(){
        if($("#member_password").val() != $("#confirm_password").val()){
            $("#message").text("비밀번호가 일치하지 않습니다.");
            $("#confirm_password").val("");
            return false;
        }
    });
    var result = "<%=resultMsg%>";
    
    if(result != "") {
        document.getElementById('message').innerText = result;
    }
</script>