<!DOCTYPE html>
<html>
<head>
    <title>Create Channel</title>
    <link rel="stylesheet" href="/styles/channel.css" />

</head>
<body>
    <h1>Create New Channel</h1>
    <form action="/channel/create" method="post">
        <label for="name">Channel Name:</label>
        <input type="text" id="name" name="name"><br>
        <input type="submit" value="Create Channel">
    </form>
    <a href="/channel/list">Back to List</a>
</body>
</html>
