<!DOCTYPE html>
<html>
<head>
    <title>Channel List</title>
    <link rel="stylesheet" href="/styles/channel.css" />

</head>
<body>
    <h1>Channel List</h1>
    <a href="/"><img src="/images/home.png" alt="Home" class="home-icon"></a>

    <a href="/channel/create">Create New Channel</a>
    <a href="/channel/modify/1" class="button">Modify</a>
    <!-- Placeholder for channel list -->
    <ul>
    </ul>
</body>
</html>
