<!DOCTYPE html>
<html>
<head>
    <title>Message List</title>
    <link rel="stylesheet" href="/styles/message.css" />
</head>
<body>
    <div class="container">

        <h1>Message List</h1>
        <a href="/"><img src="/images/home.png" alt="Home" class="home-icon"></a>

        <a href="/message/create" class="button">Create New Message</a>
        <a href="/message/modify/1" class="button">Modify</a>
        <div class="message-list">
        </div>
    </div>
</body>
</html>
